{% extends 'base.html.twig' %}

{% block title %}Lorem Website{% endblock %}

{% block body %}


    <section class="top-catagory-area mt-3">
        <div class="container">
            <div class="row">
                <!-- Top Catagory Area -->
                {% for recipe in recipes %}
                    {% include "elements/_cards.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}
