<form method="post" action="{{ path('recipe_delete', {'slug': recipe.slug}) }}" onsubmit="return confirm('Attention ! La recette sera défintivement SUPPRIMÉE.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.slug) }}">
    <button class="btn delicious-btn btn-3">Effacer</button>
</form>
